@use 'styles/colors';
@use 'styles/font';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: colors.$dominant-color;
    color: colors.$text-color;
    font-family: font.$oswald;
    font-weight: 300;
    font-size: 20px;
}

#content{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

#input {
    border-color: colors.$dominant-color;
    background-color: colors.$complementar-color;
}

.list{
    padding: 0;
    li{
        list-style: none;
    }
}